{% extends '::base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block mainarea %}

<li>
	{% for category in categories %}
    <ul>{{ category.name }}</ul>
	{% endfor %}
</li>

{% endblock %}

