<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Finance manager: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/bundles/icbudget/default.css" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="title"><h1>Budget application<h1></div>
        <div id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ path('dashboard') }}">Home</a></li>
                <li><a href="{{ path('category_list') }}">Categories</a></li>
                <li><a href="{{ path('transaction_list') }}">Transactions</a></li>
            </ul>
        </div>
        
        <div id="main-area">
            {% block mainarea %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>