
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#menu {
    float: left;
    border: 1px solid black;
    padding: 10px;
}

div#main-area {
    float: left;
    border: 1px solid black;
}

.table-hover th {
    padding: 0px;
    margin: 0px;
}

.table-hover td {
    padding: 0px;
    margin: 0px;
}

.table-hover tbody > tr:hover {
    background-color: #AEAEAE;
}
